QA Ingent.json
{
  "name": "QA Ingent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "QA Submission",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email Id"
            },
            {
              "fieldLabel": "Question"
            },
            {
              "fieldLabel": "Answer",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        64
      ],
      "id": "5b1c00ef-1548-4b7c-a243-8192668ee49c",
      "name": "On form submission",
      "webhookId": "814e444e-b081-4e5d-be24-eb69ce66ff2d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2081dcff-f87e-46c5-b774-ee66bf8eae72",
              "leftValue": "={{ $json['Email Id'] }}",
              "rightValue": "n8n.io",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        64
      ],
      "id": "05ccc8ac-f432-45c2-8977-2d0498f27413",
      "name": "is n8n.io email?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c1d6839-736e-44b4-b4ff-51bcbe1bc608",
              "name": "isTrusted",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        192
      ],
      "id": "69815daa-7dea-462d-93d1-29c70b59c77d",
      "name": "isTrusted.False"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "214faedf-2b8a-42df-92ec-40b76729d9b1",
              "name": "isTrusted",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -64
      ],
      "id": "3e0db9a2-be08-4f64-8e16-2ce08ad4f40d",
      "name": "isTrusted.True"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        608,
        48
      ],
      "id": "c22e3ee5-d0b5-4773-843b-6810a5e21cd3",
      "name": "ref"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        256
      ],
      "id": "da6a1cd9-97af-4f42-a238-73bdfda1d1c8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uKo8kezpoTvEukPZ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following question and answer and output relevant tags\n\nQuestion: {{ $json.Question }}\nAnswer: {{ $json.Answer }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a content tagging expert. Your task is to analyze Question and Answer submissions and generate relevant, descriptive tags that categorize the content based on topic, key concepts, and technical terms. Always provide 4-8 tags as a comma separated list. Keep tags short and focused in individual length.\n\n\nExample Output:\npartner, partnerships, agency, external contractors, lead referral |"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        768,
        48
      ],
      "id": "f8511490-70f5-4adc-8d7a-3075dc8a849c",
      "name": "Add Tags"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Uys0V8ZPW3JhVDGn",
          "mode": "list",
          "cachedResultName": "Q&A",
          "cachedResultUrl": "/projects/nrUdQE7wkKzxz8PS/datatables/Uys0V8ZPW3JhVDGn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isTrusted": "={{ $('ref').item.json.isTrusted }}",
            "Tags": "={{ $json.text }}",
            "Name": "={{ $('ref').item.json.Name }}",
            "Email": "={{ $('ref').item.json['Email Id'] }}",
            "Questions": "={{ $('ref').item.json.Question }}",
            "Answer": "={{ $('ref').item.json.Answer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Questions",
              "displayName": "Questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isTrusted",
              "displayName": "isTrusted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1120,
        48
      ],
      "id": "e95cd175-c0f9-4705-a918-f7e8288b5431",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "is n8n.io email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is n8n.io email?": {
      "main": [
        [
          {
            "node": "isTrusted.True",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "isTrusted.False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted.True": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted.False": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ref": {
      "main": [
        [
          {
            "node": "Add Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Add Tags",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add Tags": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "23c4dc5f-7d81-452d-a464-7d435815fd56",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f71987d840e4352d2921ea34163c920a213c5c9ada8b6a23ffc215d9d0d11500"
  },
  "id": "iRSSvZaoWJLI7KOQ",
  "tags": []
}